/* #region Auth-Page Style */

#auth-page.show
{
	display: grid;
	grid-template-columns: 1fr;
}

body[theme='killer'] #auth-page
{
	--bgA-1: #323;
	--bgA-2: #212;
	--bgA-3: #211;
	--tsA: #8c52f7bd;
	--bsA: #ffc7c733;
	--clrA-1: #cb80e2;
	--clrA-2: #ffb9b0;
}

body[theme='natural'] #auth-page
{
	--bgA-1: #232;
	--bgA-2: #342;
	--bgA-3: #232;
	--tsA: #73f752bd;
	--bsA: #94ffa233;
	--clrA-1: #80e2a1;
	--clrA-2: #daff84;
}

body[theme='blackhole'] #auth-page
{
	--bgA-1: #222;
	--bgA-2: #333;
	--bgA-3: #111;
	--tsA: #e1e1e1bd;
	--bsA: #ffffff40;
	--clrA-1: #ffffff;
	--clrA-2: #fffdc6;
}

#auth-page form
{
	top: 0;
	width: 90%;
	width: 340px;
	display: flex;
	padding: 20px 0;
	margin: 5px 10px;
	grid-row-start: 1;
	position: relative;
	align-items: center;
	grid-column-start: 1;
	flex-direction: column;
	justify-content: center;
	border-radius: 20px 20px 40px 40px;
	transition: width 0.2s ease, transform 0.32s ease;
	background: linear-gradient(135deg, var(--bgA-1), var(--bgA-2), var(--bgA-3));
	box-shadow: -2px -2px 6px var(--bsA), 2px 2px 6px rgb(0 0 0 / 80%);
}

@media screen and (max-width: 380px) { #auth-page form { width: 320px; }  }
@media screen and (max-width: 350px) { #auth-page form { width: 300px; }  }
@media screen and (max-width: 320px) { #auth-page form { width: 280px; }  }

#auth-page form b
{
	margin: 0 10px;
	font-size: 18px;
	color: var(--clrA-1);
	letter-spacing: 2px;
	text-shadow: 0px 2px 5px var(--tsA);
}

#auth-page form p
{
	line-height: 1;
	font-size: 12px;
	margin: 5px 25px;
	text-align: center;
	color: #9e9e9ec2;
	letter-spacing: 1px;
	text-shadow: 0px 1px 2px #d6dadd15;
}

#auth-page form a
{
	margin-top: 2px;
	cursor: pointer;
	font-size: 16px;
	padding: 5px 10px;
	border-radius: 20px;
	color: var(--clrA-2);
	letter-spacing: 1.2px;
	transition: transform 0.2s ease;
	border-bottom: 2px solid rgb(255, 255, 255);
}

#auth-page form a:hover { transform: scale(1.05); }

input.dsg, button.dsg[type='submit']
{
	width: 94%;
	border: none;
	outline: none;
	margin: 4px 0;
	font-size: 15px;
	padding: 12px 0px;
	text-align: center;
	letter-spacing: 1px;
	color: var(--clrA-1);
	border-radius: 100vmax;
	transition: box-shadow 0.5s;
	background-color: var(--bgA-1);
}

input.dsg::placeholder { color: #996; }
input.dsg:focus
{
	box-shadow: inset -2px -2px 6px rgba(239, 252, 255, 0.31),
	inset 2px 2px 6px rgba(180, 180, 180, 0.8);
}

button.dsg[type='submit']:focus, input.dsg
{
	-webkit-appearance: none;
	box-shadow: inset -2px -2px 6px rgba(141, 141, 141, 0.2),
	inset 2px 2px 6px rgba(0, 0, 0, .8);
}

button.dsg[type='submit']
{
	width: 60%;
	cursor: pointer;
	font-weight: bolder;
	border: 2px dashed dimgrey;
	box-shadow: inset 0px 0px 32px 0px var(--bsA);
}

#auth-page .login-frm
{
	opacity: 0;
	visibility: hidden;
	transform: scale(0.5);
	transition: opacity 0.4s, transform 0.4s, visibility 0s 0.5s;
}

#auth-page .register-frm
{
	opacity: 1;
	visibility: visible;
	transform: scale(1);
	transition: opacity 0.2s, transform 0.4s, visibility 0s 0s;
}

#auth-page.login .login-frm
{
	opacity: 1;
	visibility: visible;
	transform: scale(1);
	transition: opacity 0.2s, transform 0.4s, visibility 0s 0s;
}

#auth-page.login .register-frm
{
	opacity: 0;
	visibility: hidden;
	transform: scale(0.5);
	transition: opacity 0.4s, transform 0.4s, visibility 0s 0.5s;
}

/* #endregion Auth-Page Style */

/* #region Index-Page Style */

body[theme='killer'] #index-page
{
	--bbI: #ff9393;
	--bgI-1: #36006e;
	--bgI-2: #230030;
	--bsI: #ff8cd8d2;
}

body[theme='natural'] #index-page
{
	--bbI: #7aff97;
	--bgI-1: #00520d;
	--bgI-2: #00293c;
	--bsI: #96c93dd2;
}

body[theme='blackhole'] #index-page
{
	--bbI: #c1c1c1;
	--bgI-1: #1c1c1c;
	--bgI-2: #131313;
	--bsI: #959595e0;
}

#index-page .wrapper
{
	top: -10px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	max-width: 940px;
	min-height: 280px;
	position: relative;
	align-items: center;
	justify-content: space-evenly;
}

#index-page .cat
{
	display: flex;
	outline: none;
	cursor: pointer;
	max-width: 400px;
	margin: 10px 20px;
	user-select: none;
	width: fit-content;
	align-items: center;
	justify-content: center;
	transition: transform 0.2s;
	-webkit-tap-highlight-color: transparent;
}

#index-page .cat:hover { transform: scale(1.05); }

#index-page .cat img
{
	z-index: 2;
	width: 80px;
	height: 52px;
	border-radius: 40px 0 0 40px;
	border-left: 2px dashed var(--bbI);
	box-shadow: #ffffffbe 10px 0px 25px -10px;
}

#index-page .cat .further
{
	display: flex;
	padding: 6px 5px;
	padding-right: 20px;
	flex-direction: column;
	align-items: flex-start;
	border-radius: 0 25px 25px 0;
	justify-content: space-evenly;
	border-bottom: 1px dashed var(--bbI);
	box-shadow: inset var(--bsI) -5px -5px 20px -8px;
	background: linear-gradient(-20deg, var(--bgI-1), var(--bgI-2));
}

#index-page .cat .further b
{
	padding: 0.5px;
	font-size: 16px;
	color: #fffde1;
	padding-left: 5px;
}

#index-page .cat .further b:nth-child(2)
{
	font-size: 12px;
	color: #b9b9b9e3;
}

/* #endregion Index-Page Style */

/* #region List-Page Style */

body[theme='natural'] #list-page
{
	--bsL: #d9ff9c;
	--bgL: #293527;
	--clrL: #a5bfa4;
	--bbL: #42635bad;
	--btL: #899c8ed1;	
}

body[theme='killer'] #list-page
{
	--bsL: #e39cff;
	--bgL: #352b21;
	--clrL: #bfa4a4;
	--bbL: #634242ad;
	--btL: #9c8998d1;	
}

body[theme='blackhole'] #list-page
{
	--bsL: #f0ff9c;
	--bgL: #242422;
	--clrL: #bfbda4;
	--bbL: #605f5fad;
	--btL: #89909cd1;
}

#list-page .catg
{
	top: -4px;
	display: flex;
	font-size: 20px;
	user-select: none;
	padding: 5px 40px;
	color: var(--clrL);
	position: relative;
	font-weight: bolder;
	align-items: center;
	background: var(--bgL);
	justify-content: center;
	border-radius: 0 0 50px 50px;
	border-bottom: 2px solid var(--bbL);
	box-shadow: 0px 4px 40px -14px var(--bsL);
}

#list-page .movs
{
	top: 10px;
	width: 80%;
	display: flex;
	outline: none;
	flex-wrap: wrap;
	min-width: 260px;
	max-width: 1200px;
	padding: 10px 5px;
	overflow-y: scroll;
	position: relative;
	scrollbar-width: 0;
	height: fit-content;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	border-radius: 60px 60px 0 0;
	min-height: calc(100vh - 132px);
	max-height: calc(100vh - 132px);
	border-top: 2px dashed var(--btL);
}

#list-page .movs::-webkit-scrollbar { display: none; }

#list-page .movie-card
{
	top: -15px;
	opacity: 1;
	padding: 5px;
	--fat: 180px;
	display: flex;
	outline: none;
	cursor: pointer;
	margin: 20px 40px;
	user-select: none;
	position: relative;
	align-items: center;
	border-style: groove;
	padding-bottom: 20px;
	background: #fff6dc;
	flex-direction: column;
	justify-content: center;
	transition: box-shadow 0.32s ease;
	border-radius: 10px 10px 30px 30px;
	-webkit-tap-highlight-color: transparent;
	box-shadow:	rgba(226, 221, 191, 0.473) -3px 3px,
		rgba(174, 184, 152, 0.514) -6px 6px,
		rgba(142, 145, 113, 0.349) -9px 9px,
	inset 0px -10px 20px -5px #b8a05e;
}

#list-page .movie-card:hover
{
	box-shadow: rgba(145, 139, 129, 0.5) -2px 2px,
		rgba(196, 197, 116, 0.35) -4px 4px,
		rgba(189, 187, 72, 0.2) -6px 6px,
	inset 0px -10px 20px -5px #b89842;
}

#list-page .movie-card.clicked { animation: clickPop 0.25s ease; }

@keyframes clickPop
{
	0% { transform: scale(1); }
	60% { transform: scale(0.8); }
	100% { transform: scale(1); }
}

#list-page .movie-card img
{
	box-shadow: 0px -6px 10px -2px #2c2227;
	border-radius: 4px 4px 0 0;
	width: var(--fat);
	max-height: 100px;
	height: auto;
}

#list-page .movie-card progress
{
	-webkit-appearance: none;
	width: var(--fat);
	border: none;
	height: 8px;
}

#list-page .movie-card progress::-webkit-progress-bar
{
	background: #ffc9cd;
	border-radius: 0 0 8px 8px;
	box-shadow: inset 0px 0px 3.2px 1.5px #1f1404;
}

#list-page .movie-card progress::-webkit-progress-value
{
	border-radius: 0 0 0 8px;
	background: linear-gradient(to right, #e658e6, #ee9643);
	box-shadow: 0px 0px 8px 3px #350505;
}

#list-page .movie-card .mv-info
{
	top: 4px;
	display: flex;
	font-size: 13px;
	width: var(--fat);
	position: relative;
	align-items: center;
	justify-content: space-between;
}

#list-page .movie-card .mv-info b
{
	padding: 0 8px;
	color: #5f5f50;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#list-page .movie-card span
{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	max-width: var(--fat);
	display: -webkit-box;
	font-weight: bolder;
	text-align: center;
	position: relative;
	color: #032224;
	max-height: 38px;
	overflow: hidden;
	font-size: 15px;
	top: 6px;
}

@media screen and (max-width: 450px)
{
	#list-page .movie-card { margin: 8px 15px; top: -5px; }
	#list-page .catg { top: -10px; }
	#list-page .movs { top: 0; }
}

/* #endregion List-Page Style */

/* #region Watch-Page Style */

body[theme='killer'] #watch-page
{
	--clrtW: #ffb0b0;
	--cbW: #311a3eeb;
	--bcW: #ff1eddcc;
	--bsW: #2a030366;
	--bgW-1: #190d38a1;
	--bgW-2: #341f5487;
	--bgW-3: #96413afb;
	--bgiW-1: #ef939366;
	--bgiW-2: #ff19e51c;
	--plyr-color-main: #f5309b;
}

body[theme='natural'] #watch-page
{
	--clrtW: #b0ffc1;
	--cbW: #303e1aeb;
	--bcW: #77ad13cc;
	--bsW: #042a0366;
	--bgW-1: #304711a1;
	--bgW-2: #13250e87;
	--bgW-3: #2a7759fb;
	--bgiW-1: #93ef9b66;
	--bgiW-2: #19ff2c1c;
	--plyr-color-main: #4ce700;
}

body[theme='blackhole'] #watch-page
{
	--clrtW: #b1bdf5;
	--cbW: #202027eb;
	--bcW: #474552cc;
	--bsW: #1f1f2b66;
	--bgW-1: #313131a1;
	--bgW-2: #19191a87;
	--bgW-3: #3a3a5ffb;
	--bgiW-1: #c8c5e666;
	--bgiW-2: #0000001c;
	--plyr-color-main: #6e7081;
}

#watch-page .wrapper
{
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 94px);
	justify-content: flex-start;
	align-items: center;
	min-width: 95vw;
	height: 100%;
	width: 100%;
	padding: 0px;
}

#watch-page .top-title
{
	margin-top: -2px;
	margin-bottom: 30px;
	padding: 20px 10px 35px;
	text-transform: capitalize;
	user-select: none;
	height: auto;
	width: 95%;
	font-size: 1em;
	color: silver;
	text-align: center;
	position: relative;
	box-sizing: border-box;
	border-radius: 0 0 50% 50%;
	box-shadow: 0 10px 15px 0 rgba(0, 20, 10, 0.5), 0 20px 60px 0 rgba(10, 20, 0, 0.8);
	background-image: -webkit-radial-gradient(0% 100%, ellipse cover, var(--bgiW-1) 10%, var(--bgiW-2) 40%), linear-gradient(to bottom, #02212e57 0%, #1e1740b0 100%), linear-gradient(180deg, #06072c 0%, #060c2e 100%);
}

#watch-page .player-wrapper
{
	top: 50px;
	z-index: 2;
	float: left;
	display: flex;
	padding: 15px;
	position: sticky;
	height: fit-content;
	width: fit-content;
	min-width: 200px;
	min-height: 150px;
	max-width: 560px;
	align-items: center;
	margin-bottom: 20px;
	box-sizing: border-box;
	border-radius: 25vw 2vw;
	justify-content: space-around;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
	background-image: radial-gradient(circle farthest-corner at 100% 0.5%, #feffc312 20%, #4c0de512 70%);
}

#watch-page .video-container
{
	border-radius: 10px;
	overflow: hidden;
	box-sizing: border-box;
	box-shadow: 0 6px 10px 0 rgba(30, 20, 10, 0.2), 0 12px 40px 0 rgba(10, 20, 30, 0.6);
}

#watch-page .mov-dets
{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
	justify-content: space-evenly;
}

#watch-page .mov-dets hr
{
	width: 95%;
	height: 2px;
	border: none;
	margin: 5px 0;
	background-image: linear-gradient(to right, #00000000, var(--bcW), #00000000);
}

#watch-page .mov-dets section
{
	margin: 10px;
	min-width: 260px;
	min-height: 160px;
	height: fit-content;
	padding: 5px 10px;
	display: flex;
	width: fit-content;
	text-align: center;
	max-width: 300px;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	flex-direction: column;
	padding-bottom: 10px;
	border: 2px dashed var(--bcW);
	transform: translate3d(0px, -1px, 0px);
	box-shadow: var(--bsW) 10px 10px 50px 0;
	background: linear-gradient(to top, var(--bgW-1), var(--bgW-2));
}

#watch-page .mov-dets section > b
{
	width: 100%;
	color: lightgray;
	font-style: normal;
	font-family: monospace;
	font-size: 14px;
}

#watch-page .mov-dets section p
{
	margin: 4px;
	font-size: 15px;
	color: var(--clrtW);
	font-family: monospace;
}

#watch-page .mov-dets section .meta
{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#watch-page .mov-dets section .meta p i
{
	font-style: inherit;
	color: #fff;
	font-size: 12px;
	font-family: monospace;
}

@media screen and (max-width: 850px)
{
	#watch-page .top-title { padding-bottom: 30px; }

	#watch-page .player-wrapper
	{
		padding: 10px;
		flex-direction: column;
		justify-content: space-between;
	}
}

@media screen and (max-width: 450px)
{
	#watch-page .top-title
	{
		margin-top: -8px;
		font-size: 0.8em;
		padding-bottom: 18px;
		padding-top: 10px;
	}
	
	#watch-page .player-wrapper { padding: 5px; }
}

#watch-page .plyr__control { z-index: 8; }
#watch-page .plyr__controls { z-index: 8; padding: 5px; }

#watch-page .in-plyr
{
	top: 0;
	left: 0;
	z-index: 4;
	width: 100%;
	height: 100%;
	display: flex;
	overflow: hidden;
	user-select: none;
	position: absolute;
	align-items: center;
	justify-content: center;
	background: transparent;
}

#watch-page .in-plyr > .tapper
{
	opacity: 0;
	width: 40%;
	height: 100%;
	display: flex;
	user-select: none;
	text-align: center;
	position: absolute;
	align-items: center;
	justify-content: center;
	background: #000000cc;
	border-radius: 100% / 60%;
	transition: opacity 0.2s ease, transform 0.2s ease-in;
}

#watch-page .in-plyr .forward
{
	top: 0%;
	right: 0%;
	border-top-right-radius: 0;
	transform: translateX(40%);
	border-bottom-right-radius: 0;
}

#watch-page .in-plyr .backward
{
	top: 0%;
	left: 0%;
	border-top-left-radius: 0;
	flex-direction: row-reverse;
	border-bottom-left-radius: 0;
	transform: translateX(-40%);
}

#watch-page .in-plyr > .tapper .txt
{
	font-size: 16px;
	color: #f6ffa4;
	font-weight: bolder;
	text-shadow: 0px 4px 5px black;
}

#watch-page .in-plyr > .forward .txt { margin-left: -20%; }
#watch-page .in-plyr > .backward .txt { margin-right: -20%; }
#watch-page .in-plyr .tapper.active { transform: translateX(0%); opacity: 1; }
#watch-page .in-plyr .tapper.active .icon { animation: iconAnim 0.8s ease infinite; }

#watch-page .in-plyr .tapper .icon
{
	height: 20px; width: 20px;
	transform: rotate(45deg);
	animation: none;
}

@keyframes iconAnim
{
	form { opacity: 0; transform: translateX(0%); }
	to { opacity: 0; transform: translateX(calc(var(--dir) * 150%)) rotate(45deg) scale(1.25); }
}

#watch-page .in-plyr .cast-menu
{
	top: 0;
	width: 120px;
	height: 32px;
	display: flex;
	cursor: pointer;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	position: absolute;
	align-items: center;
	background: var(--cbW);
	justify-content: center;
	transform: translateY(-110%);
	border-radius: 10px 10px 40px 40px;
	box-shadow: 0px 2px 10px -2px #0d0612e3;
	transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#watch-page .in-plyr.active .cast-menu { transform: translateY(0%); }

#watch-page .in-plyr .cast-panel
{
	opacity: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	display: flex;
	position: absolute;
	visibility: hidden;
	align-items: center;
	flex-direction: column;
	transform: scale(0.6) rotate(15deg);
	background: linear-gradient(45deg, #1c1c1cf5, #020014e0);
	transition: visibility 0s 0.32s, opacity 0.32s, transform 0.32s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#watch-page .in-plyr .cast-panel.show
{
	opacity: 1;
	visibility: visible;
	transform: scale(1) rotate(0deg);
	transition: visibility 0s 0s, opacity 0.26s, transform 0.32s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#watch-page .in-plyr .cast-panel > div
{
	width: 100%;
	height: auto;
	display: flex;
	padding: 10px;
	flex-wrap: wrap;
	position: relative;
	align-items: center;
	justify-content: space-around;
}

#watch-page .in-plyr .cast-panel > .bar
{
	max-width: 500px;
	color: cornsilk;
	letter-spacing: 2px;
	border-radius: 0 0 40px 40px;
	border-bottom: 2px dashed #8b8b8bb5;
}

#watch-page .in-plyr .cast-panel > .tiles::-webkit-scrollbar { display: none; }
#watch-page .in-plyr .cast-panel > .tiles
{
	outline: none;
	max-width: 980px;
	overflow-y: auto;
}

#watch-page .in-plyr .cast-panel .cast
{
	display: flex;
	padding: 0 4px;
	color: #d4d4d4;
	margin: 16px 4px;
	padding-bottom: 4px;
	align-items: center;
	justify-content: center;
	border-radius: 0 0 20px 0;
	border-bottom: 2px dotted #f2ff945e;
	box-shadow: inset 0px -4px 20px -10px #a891d1a6;
}

#watch-page .in-plyr .cast-panel .cast img
{
	width: 50px;
	height: 60px;
	background-size: cover;
	background-position: top;
	border-radius: 0 0 20px 20px;
	box-shadow: 0px 6px 20px -2px #000000ba;
}

#watch-page .in-plyr .cast-panel .cast b
{
	font-size: 14px;
	max-width: 120px;
	padding: 2px 8px;
	letter-spacing: 1px;
	font-family: -webkit-pictograph;
}

@media screen and (max-width: 442px)
{
	#watch-page .in-plyr .cast-panel .cast img
	{
		width: 40px;
		height: 48px;
	}

	#watch-page .in-plyr .cast-panel .cast b
	{
		font-size: 12px;
		max-width: 80px;
	}
}
/* #endregion Watch-Page Style */
